In [2]:
import couchdb
import TwitterSentiment
import pandas as pd
import config

ImportError: No module named TwitterSentiment

In [247]:
couch = couchdb.Server('http://dazaj:secret@115.146.93.140:5984')
db = couch['raw_tweets']
db_new = couch['tweets_clean']
db_2 = couch['coordinates_aurin']

In [423]:
suburbList=[]
suburbSentiment=[]
suburbCount=[]
count=0
for i in db_new.view('view/MigrationSuburbSent',reduce=True,group_level=2):
    suburbList.append(int(i.key[0]))
    suburbSentiment.append((i.key[1]))
    suburbCount.append(int(i.value))

In [424]:
d = {'suburb' : suburbList,
     'sentiment' : suburbSentiment,
    'count':suburbCount}
data=pd.DataFrame(d)

In [425]:
aurin={}
for i in db_2.view('views/allDocs'):
    aurin[i.key]=i.value

In [426]:
aurin['0'].keys()

[u'name',
 u'_rev',
 u'maleparticipation',
 u'age30',
 u'age20',
 u'femaleparticipation',
 u'age40',
 u'age60',
 u'below20',
 u'employmentratio',
 u'tafe',
 u'income',
 u'allCoordinates',
 u'uni',
 u'highschool',
 u'_id',
 u'participation',
 u'age50']

In [428]:
name=[]
tafe=[]
uni=[]
high=[]
income=[]
employment=[]
for i in data['suburb']:
    name.append(aurin[str(i)]['name'])
    tafe.append(aurin[str(i)]['tafe'])
    uni.append(aurin[str(i)]['uni'])
    high.append(aurin[str(i)]['highschool'])
    income.append(aurin[str(i)]['income'])
    employment.append(aurin[str(i)]['employmentratio'])

data['Name']=name
data['Tafe']=tafe
data['University']=uni
data['high']=high
data['income']=income
data['employment']=employment

In [429]:
groupedCount=data.groupby(['suburb']).count().reset_index()
groupedSum=data.groupby(['suburb']).sum().reset_index()

In [430]:
found=False
value={}
valuesum={}
index=[]
for i in range(len(data['suburb'])):
    for j in range(len(groupedCount['suburb'])):
        if data['suburb'][i]==groupedCount['suburb'][j]:
            value[data['suburb'][i]]=groupedCount['count'][j]

for i in range(len(data['suburb'])):
    for j in range(len(groupedSum['suburb'])):
        if data['suburb'][i]==groupedSum['suburb'][j]:
            valuesum[data['suburb'][i]]=groupedSum['count'][j]

In [431]:
array=[]
arraysum=[]
for i in range(len(data)):
    array.append(value[data['suburb'][i]])
    arraysum.append(valuesum[data['suburb'][i]])
data['totCount']=array
data['totSum']=arraysum

In [468]:
dataSorted=data.sort_values(by=['totSum','Name','totCount'],ascending=False).reset_index()
del dataSorted['index']
dataSorted.head(9)

,count,sentiment,suburb,Name,Tafe,University,high,income,employment,totCount,totSum,Percentage
0,85,Negative,218,Bendigo Region - South,0.214912,0.410320,0.374769,49884.84211,0.723079,3,1137,0.074758
1,815,Neutral,218,Bendigo Region - South,0.214912,0.410320,0.374769,49884.84211,0.723079,3,1137,0.716799
2,237,Positive,218,Bendigo Region - South,0.214912,0.410320,0.374769,49884.84211,0.723079,3,1137,0.208443
3,35,Negative,113,Glendenning Dean Park,0.255524,0.282421,0.462056,39344.31491,0.691538,3,546,0.064103
4,439,Neutral,113,Glendenning Dean Park,0.255524,0.282421,0.462056,39344.31491,0.691538,3,546,0.804029
5,72,Positive,113,Glendenning Dean Park,0.255524,0.282421,0.462056,39344.31491,0.691538,3,546,0.131868
6,53,Negative,254,East Melbourne,0.202026,0.524409,0.273565,52188.74074,0.740025,3,477,0.111111
7,247,Neutral,254,East Melbourne,0.202026,0.524409,0.273565,52188.74074,0.740025,3,477,0.517820
8,177,Positive,254,East Melbourne,0.202026,0.524409,0.273565,52188.74074,0.740025,3,477,0.371069

In [433]:
dataSorted[dataSorted['sentiment']=='Positive'].head()

,count,sentiment,suburb,Name,Tafe,University,high,income,employment,totCount,totSum
2,237,Positive,218,Bendigo Region - South,0.214912,0.410320,0.374769,49884.84211,0.723079,3,1137
5,72,Positive,113,Glendenning Dean Park,0.255524,0.282421,0.462056,39344.31491,0.691538,3,546
8,177,Positive,254,East Melbourne,0.202026,0.524409,0.273565,52188.74074,0.740025,3,477
11,13,Positive,781,ACT - South West,0.236149,0.416591,0.347260,60131.33333,0.775318,3,187
14,82,Positive,120,Bondi Beach - North Bondi,0.386364,0.207792,0.405844,39495.36842,0.806452,3,177

In [434]:
dataSorted[dataSorted['sentiment']=='Negative'].head()

,count,sentiment,suburb,Name,Tafe,University,high,income,employment,totCount,totSum
0,85,Negative,218,Bendigo Region - South,0.214912,0.410320,0.374769,49884.84211,0.723079,3,1137
3,35,Negative,113,Glendenning Dean Park,0.255524,0.282421,0.462056,39344.31491,0.691538,3,546
6,53,Negative,254,East Melbourne,0.202026,0.524409,0.273565,52188.74074,0.740025,3,477
9,7,Negative,781,ACT - South West,0.236149,0.416591,0.347260,60131.33333,0.775318,3,187
12,21,Negative,120,Bondi Beach - North Bondi,0.386364,0.207792,0.405844,39495.36842,0.806452,3,177

In [435]:
gr=data.groupby(['suburb','Name','sentiment']).agg({'count': 'sum'})
gr_per=gr.groupby(level=0).apply(lambda x:x / float(x.sum()))

In [436]:
gr_per_=gr_per.reset_index()
gr_per_.head(9)

   suburb          Name sentiment     count
0       0      Goulburn  Negative  0.117647
1       0      Goulburn   Neutral  0.470588
2       0      Goulburn  Positive  0.411765
3       1     Braidwood  Negative  0.500000
4       1     Braidwood  Positive  0.500000
5       4  Cooma Region  Negative  0.166667
6       4  Cooma Region   Neutral  0.750000
7       4  Cooma Region  Positive  0.083333
8       5  Batemans Bay  Negative  0.090909

In [437]:
perc=[]
for i in range(len(data)):
    for j in range(len(gr_per_)):
        if data['suburb'][i]==gr_per_['suburb'][j] and data['sentiment'][i]==gr_per_['sentiment'][j]:
            perc.append(gr_per_['count'][j])
            break

In [438]:
data['Percentage']=perc

In [439]:
data.head(9)

,count,sentiment,suburb,Name,Tafe,University,high,income,employment,totCount,totSum,Percentage
0,2,Negative,0,Goulburn,0.344198,0.182964,0.472838,42926.78788,0.769665,3,17,0.117647
1,8,Neutral,0,Goulburn,0.344198,0.182964,0.472838,42926.78788,0.769665,3,17,0.470588
2,7,Positive,0,Goulburn,0.344198,0.182964,0.472838,42926.78788,0.769665,3,17,0.411765
3,1,Negative,1,Braidwood,0.317166,0.316215,0.366619,53292.06780,0.820952,2,2,0.500000
4,1,Positive,1,Braidwood,0.317166,0.316215,0.366619,53292.06780,0.820952,2,2,0.500000
5,12,Neutral,10,Deua - Wadbilliga,0.368889,0.168889,0.462222,34684.00000,0.702222,1,12,1.000000
6,1,Negative,100,Baulkham Hills (West) - Bella Vista,0.397772,0.071588,0.530641,33919.98444,0.664901,3,7,0.142857
7,4,Neutral,100,Baulkham Hills (West) - Bella Vista,0.397772,0.071588,0.530641,33919.98444,0.664901,3,7,0.571429
8,2,Positive,100,Baulkham Hills (West) - Bella Vista,0.397772,0.071588,0.530641,33919.98444,0.664901,3,7,0.285714

In [488]:
dataSorted=data.sort_values(by=['totSum','Name','totCount','University'],ascending=False).reset_index()
negativeSet=dataSorted[(dataSorted['Percentage']>.25) & (dataSorted['sentiment']=="Negative")].head()
negativeSet=negativeSet.sort_values(by='University',ascending=False).reset_index()
negativeSet

,level_0,index,count,sentiment,suburb,Name,Tafe,University,high,income,employment,totCount,totSum,Percentage
0,45,500,40,Negative,337,Ashwood - Chadstone,0.198367,0.455535,0.346098,58688.74074,0.701452,3,81,0.493827
1,305,411,4,Negative,293,Cheltenham - Highett (East),0.316770,0.192547,0.490683,25051.44828,0.000000,3,13,0.307692
2,54,172,39,Negative,176,Auburn,0.394636,0.107280,0.498084,33160.90323,0.696629,3,69,0.565217
3,123,665,9,Negative,94,Berry - Kangaroo Valley,0.318589,0.078462,0.602949,28717.10569,0.592944,3,35,0.257143
4,57,641,31,Negative,792,Campbell,0.225000,0.075000,0.700000,28201.33333,0.756923,3,68,0.455882

In [489]:
positiveSet=dataSorted[(dataSorted['sentiment']=="Positive")].head()
positiveSet=positiveSet.sort_values(by='University',ascending=False).reset_index()
positiveSet

,level_0,index,count,sentiment,suburb,Name,Tafe,University,high,income,employment,totCount,totSum,Percentage
0,8,307,177,Positive,254,East Melbourne,0.202026,0.524409,0.273565,52188.74074,0.740025,3,477,0.371069
1,11,626,13,Positive,781,ACT - South West,0.236149,0.416591,0.347260,60131.33333,0.775318,3,187,0.069519
2,2,254,237,Positive,218,Bendigo Region - South,0.214912,0.410320,0.374769,49884.84211,0.723079,3,1137,0.208443
3,5,30,72,Positive,113,Glendenning Dean Park,0.255524,0.282421,0.462056,39344.31491,0.691538,3,546,0.131868
4,14,48,82,Positive,120,Bondi Beach - North Bondi,0.386364,0.207792,0.405844,39495.36842,0.806452,3,177,0.463277

In [490]:
jsonDict={}
for i in range(5):
    jsonDict[i]={}
    jsonDict[i]['Name']=[positiveSet['Name'][i],negativeSet['Name'][i]]
    jsonDict[i]['Sentiment']=[positiveSet['sentiment'][i],negativeSet['sentiment'][i]]
    jsonDict[i]['University']=[positiveSet['University'][i],negativeSet['University'][i]]
    jsonDict[i]['Income']=[positiveSet['income'][i],negativeSet['income'][i]]

In [491]:
jsonDict

{0: {'Income': [52188.740740000001, 58688.740740000001],
  'Name': [u'East Melbourne', u'Ashwood - Chadstone'],
  'Sentiment': [u'Positive', u'Negative'],
  'University': [0.52440900000000001, 0.45553500000000002]},
 1: {'Income': [60131.333330000001, 25051.448280000001],
  'Name': [u'ACT - South West', u'Cheltenham - Highett (East)'],
  'Sentiment': [u'Positive', u'Negative'],
  'University': [0.41659099999999999, 0.192547]},
 2: {'Income': [49884.842109999998, 33160.903230000004],
  'Name': [u'Bendigo Region - South', u'Auburn'],
  'Sentiment': [u'Positive', u'Negative'],
  'University': [0.41032000000000002, 0.10728]},
 3: {'Income': [39344.314910000001, 28717.10569],
  'Name': [u'Glendenning Dean Park', u'Berry - Kangaroo Valley'],
  'Sentiment': [u'Positive', u'Negative'],
  'University': [0.28242099999999998, 0.078462000000000004]},
 4: {'Income': [39495.368419999999, 28201.333330000001],
  'Name': [u'Bondi Beach - North Bondi', u'Campbell'],
  'Sentiment': [u'Positive', u'Negative'],
  'University': [0.207792, 0.074999999999999997]}}